<% layout('./partials/boilerplate')%>
<form method="POST">
    <h1 class="text-center">Login</h1>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Login</button>
</form>